
<form onsubmit={{action this.claimSong}}>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
      Email
    </label>
    <input onchange={{action (mut this.email) value="target.value"}} class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text" placeholder="Email">
  </div>

  <input value="Claim this song!" type=submit class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" />
</form>