<div class="bg-gray-600 my-8 p-4 text-left">
  {{@song.title}} by {{@song.artist}}
  <iframe class="m-auto" src="https://open.spotify.com/embed/track/{{@song.trackId}}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  <div class="my-4">&nbsp;</div>
  {{yield}}
</div>