<div class=" max-w-lg m-auto text-center mt-16">
  <h1 class="text-6xl text-gray-600">Walkout song</h1>
  <p>When you check in with Envoy, let the world know you've arrived with your anthem</p>
  {{outlet}}
</div>